/* Under the Hood */
/* 
@layer theme, base, components, utilities;
@import "./theme.css" layer(theme);
@import "./preflight.css" layer(base);
@import "./utilities.css" layer(utilities); */

@import "tailwindcss";
@import "../fonts/fonts.css";

@theme {
  --color-*: initial;
  --font-*: initial;
  --color-black: #000;
  --color-white: #fff;
  --color-jet: rgba(53, 53, 53, 0.5);
  --color-pink: ##eb7bc0;
  --color-lime: #22d504;
  --color-bone: #d5cdba;
  --color-jasper: #c25233;
  --color-brown: #8b5421;
  --color-yellow:#f4ad31;
  --color-khaki: #BBAB8E;
  --color-red: #D24825;
  --font-mono:
    SuisseIntlMono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --font-sans:
    SuisseIntl, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif:
    PPEditorialOld, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-serif--font-feature-settings: "liga" 1, "dlig" 1, "hlig" 1, "calt" 1;
  --radius-5xl: 64px;
}

@layer base {
  :root {
    font-family: var(--font-sans);
  }

  body {
    background-color: pink;
  }
}

@layer components {
  .font-serif.heading2{
    line-height: 64px;
  }
}